*{
    box-sizing: border-box;
    font-size: 16px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 330px;
    background-color: gray;
    padding: 8px;
    border: 1px solid black;
}

.display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    padding: 8px;
    font-size: 32px;
    background-color: black;
    color: white;
}

.number, .operation, .clear, .equals{
    width: 75px;
    height: 75px;
}

.operation, .equals, .clear{
    background-color: orange;
}